<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dgocky – DJ Party & Night Club HTML Template </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- fontawesome icon  -->
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <!-- flaticon css -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>

    <!-- preloader begin -->
    <div class="preloader">
        <div class="loader">
            <hr>
            <hr>
        </div>
    </div>
    <!-- preloader end -->

    <!-- header begin -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex align-items-center">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-6 d-xl-block d-lg-block d-flex align-items-center">
                            <div class="logo">
                                <a href="home"><img src="/img/logo.png " height="80" alt=""></a>
                            </div>
                        </div>
                        <div class="d-xl-none d-lg-none d-block col-6">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="mainmenu">
                        <nav class="navbar navbar-expand-lg">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="">gneres <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="Customers">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="movie">Movies</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- breadcrump begin -->
    <div class="breadcrump">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrump-content">
                        <span class="page-name"> <a href="home">Home</a> </span>
                        <span class="icon"><i class="fas fa-chevron-right"></i></span>
                        <span class="page-name">Genres</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrump end -->

    <!-- gallery begin -->
    <div class="gallery">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="add-space section-title text-center">
                        <h2>Genres photo </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="single-img">
                        <img src="/img/gallery-1.jpg" alt="">
                        <div class="hover-effect">
                            <a href="/api/genre/1"><i class="far fa-eye"></i>Action <br> id:1 </a>
                        </div>
                    </div>
                    <div class="single-img">
                        <img src="/img/gallery-5.jpg" alt="">
                        <div class="hover-effect">
                            <a href="/api/genre/2"><i class="far fa-eye"></i>Horror <br> id:2 </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="single-img">
                        <img src="/img/gallery-2.jpg" alt="">
                        <div class="hover-effect">
                            <a href="/api/genre/3"><i class="far fa-eye"></i>Romans <br> id:3 </a>
                        </div>
                    </div>
                    <div class="single-img">
                        <img src="/img/gallery-3.jpg" alt="">
                        <div class="hover-effect">
                            <a href="/api/genre/4"><i class="far fa-eye"></i>Cenema <br> id:4</a>
                        </div>
                    </div>
                    <div class="single-img">
                        <img src="/img/gallery-6.jpg" alt="">
                        <div class="hover-effect">
                            <a href="/api/genre/5"><i class="far fa-eye"></i>Lovely <br> id:5</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 d-xl-block d-lg-block d-none">
                    <div class="single-img">
                        <img src="/img/gallery-4.jpg" alt="">
                        <div class="hover-effect">
                            <a href="/api/genre/6"><i class="far fa-eye"></i>Commedy <br>id: 6</a>
                        </div>
                    </div>
                    <div class="single-img">
                        <img src="/img/gallery-7.jpg" alt="">
                        <div class="hover-effect">
                            <a href="/api/genre/7"><i class="far fa-eye"></i>18+ <br> id: 7</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery end -->

    <!-- footer begin -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-4 d-xl-flex d-lg-flex align-items-center">
                    <div class="logo">
                        <a href="home"><img src="/img/logo.png" height="80" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-8">
                    <div class="footer-menu">
                        <nav class="navbar navbar-expand-lg">
                            <ul class="navbar-nav">
                                     <a class="nav-link active" href="Genres">gneres <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="Customers">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="movie">Movies</a>
                                    </li>
                            
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
    
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- owl carousel -->
    <script src="/js/owl.carousel.js"></script>
    <!-- magnific popup -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- way poin js-->
    <script src="/js/waypoints.min.js"></script>
    <!-- wow js-->
    <script src="/js/wow.min.js"></script>
    <!-- main -->
    <script src="/js/main.js"></script>
</body>


</html>