<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mahdi movies </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- fontawesome icon  -->
    <link rel="stylesheet" href="/css/fontawesome.min.css" >
    <!-- flaticon css -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

    <body>

        <!-- preloader begin -->
        <div class="preloader">
            <div class="loader">
                <hr >
                <hr>
            </div>
        </div>
        <!-- preloader end -->

        <!-- header begin -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex align-items-center">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-6 d-xl-block d-lg-block d-flex align-items-center">
                                <div class="logo">
                                    <img src="/img/logo.png" alt="" height="100"></a>
                                </div>
                            </div>
                            <div class="d-xl-none d-lg-none d-block col-6">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="mainmenu">
                            <nav class="navbar navbar-expand-lg">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="home">Home<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="movie">Movies</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="genres">Genres</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="customers">Customers</a>
                                        </li>
                              
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header end -->

        <!-- banner begin -->
        <div class="banner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="banner-content">
                            <h1> Sayeed Mahdi</h1>
                            <h4>Movies</h4>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="banner-bottom">
                             {{#each result}}
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 d-xl-block d-lg-block d-md-none">
                                    <div class="part-img">
                                        <img src="{{this.photo}}" alt="">
                                        <p>Best Movies</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 d-xl-flex d-lg-flex d-md-block align-items-center">
                                    <div class="promo-video">
                                        <div class="part-icon">
                                            <a class="play-button venobox mfp-iframe" href="{{this.YouTube_link}}"><i class="fas fa-play"></i></a>
                                        </div>
                                        <div class="part-text">
                                            <h3>Best Movie in Yutube</h3>
                                            <span class="intro">Watch The Movie Now</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 d-xl-flex d-lg-flex d-md-flex align-items-center">
                                    <div class="banner-buttons">
                                        <a href="#">get ticket</a>
                                       
                                    </div>
                                </div>
                            </div>
                               {{/each}}
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
        <!-- banner end -->

        <!-- countdown begin -->
        <div class="countdown">
            <div class="container">
                <div class="row justify-content-xl-center justify-content-lg-center justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-lg-8 d-xl-flex d-lg-block align-items-center">
                        <div class="countdown-title">
                            <h2>Movie Will Start In</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-lg-8">
                        <div class="part-countdown">
                            <div class="timer" data-date="29 July 2021 9:56:00 GMT+01:00">
                                <div class="single-count">
                                    <span class="day"></span><span class="title">days</span>
                                </div>
                                <div class="single-count">
                                    <span class="hour"></span><span class="title">hours</span>
                                </div>
                                <div class="single-count">
                                    <span class="minute"></span><span class="title">minute</span>
                                </div>
                                <div class="single-count">
                                    <span class="second"></span><span class="title">second</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- countdown end -->

        <!-- contact begin -->
        <div class="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <div class="add-space section-title text-center">
                            <h2>Add A Movie</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="contact-form">
                            <form action="/movie/newmovie" method="POST">
                                <div class="row " >
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <input type="text" placeholder="title" name="title" class="form-control " id="title">
                                        <span></span>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <input type="text" placeholder="Enter the Genre Id" name="genre_id"  id="genreid" class="form-control ">
                                        <span></span>
                                    </div>
                                      <div class="col-xl-6 col-lg-6 form-group">
                                        <input type="text" placeholder="Enter the price" name="price"  id="price" class="form-control ">
                                        <span></span>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <input type="number" placeholder="daily rate" max="10" min="0" id="dailyRate" name="dailyRate" class="form-control ">
                                        <span></span>
                                    </div>
                                    <div class="col-xl-6 col-lg-6  form-group" >
                                        <input type="text" placeholder="add src pic for Movie" id="src" name="photo" class="form-control ">
                                        <span></span>
                                    </div>
                                    <div class="col-xl-6 col-lg-6  form-group" >
                                        <input type="text" placeholder="Youtupe link address" id="src" name="video" class="form-control ">
                                        <span></span>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <input type="number" placeholder="Number in Stuck" min="0" id="stuck" name="numberInStock" class="form-control ">
                                        <span></span>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 form-group">
                                        <textarea placeholder="Write a message" id="message" name="message" class="form-control "></textarea>
                                        <span class="textarea"></span>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        {{#if message}}
                                                <div >
                                                    <h4 class="alert alert-danger">
                                                        {{message}}
                                                    </h4>
                                                </div>
                                        {{/if}}
                                      <button type="submit"> save movie</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact end -->

        <!-- footer begin -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 d-xl-flex d-lg-flex align-items-center">
                        <div class="logo">
                            <img src="/img/logo.png" alt="" height="100"></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8">
                        <div class="footer-menu">
                            <nav class="navbar navbar-expand-lg">
                                <ul class="navbar-nav">
                                 
                                    <li class="nav-item">
                                        <a class="nav-link" href="Movies.hbs">Movie</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="Genres.hbs">Genres</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="Customer.hbs">Customers</a>
                                    </li>
                                  
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer end -->
     
        <!-- jquery -->
        <script src="/js/jquery.js"></script>
        <!-- bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- owl carousel -->
        <script src="/js/owl.carousel.js"></script>
        <!-- magnific popup -->
        <script src="/js/jquery.magnific-popup.js"></script>
        <!-- way poin js-->
        <script src="/js/waypoints.min.js"></script>
        <!-- wow js-->
        <script src="/js/wow.min.js"></script>
        <!-- main -->
        <script src="/js/main.js"></script>
    </body>

</html>