<html>

<head>
      <title>Login form</title>
      <link rel="stylesheet" type="text/css" href="/css/login.css">
      {{!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> --}}

</head>

<body>

      <h1 id="ti">Welcom to Tanin Hotel</h1>
      <div class="loginBox">


            <i class="fa fa-user" aria-hidden="true" id="a"></i>
            <h1>Login Here</h1>
            <form>
                  <p>Username</p>
                  <input type="text" name="" placeholder="Enter Username">
                  <p>Password</p>
                  <input type="password" name="" placeholder="Enter Password">
                  <input type="submit" name="" value="Login">
                  <a href="">Forgot your password?</a><br>
                  <a href="">Don't have an account?</a>
            </form>



      </div>
</body>

</html>